/* tooltip */
.drawericon .drawericon_inner span {
  position: relative;
}
.drawericon .drawericon_inner span::before {
  content: attr(aria-describedby);
  transition: var(--duration-medium) ease;
  position: absolute;
  right: 100%;
  top: 3px;
  background-color: rgba(var(--color-foreground));
  border-radius: calc(var(--content-radius) * 1 / 2);
  text-align: center;
  color: rgba(var(--color-background));
  padding: 3px 7px;
  white-space: nowrap;
  overflow-wrap: break-word;
  font-size: 10px;
  text-transform: capitalize;
  margin-right: 22px;
  opacity: 0;
}
.drawericon .drawericon_inner span::after {
  content: "\25B6";
  position: absolute;
  color: rgba(var(--color-foreground));
  top: 3px;
  right: 100%;
  margin-right: 14px;
  opacity: 0;
  transition: var(--duration-medium) ease;
}
.drawericon .drawericon_inner:hover span::before,
.drawericon .drawericon_inner:hover span::after {
  opacity: 1;
}
/* over */
.scrolled-past-header ~ .drawer {
  top: calc(var(--header-sticky-height) - 15px);
  max-height: calc(100% - var(--header-sticky-height) - 30px);
}
.scrolled-past-header ~ .drawer .cart-drawer__overlay {
  top: 0;
}
.cartupciner {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
  padding-bottom: 15px;
}
.cartupciner:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.cartupciner .product-card-wrapper .quick-add__submit {
  min-width: auto;
  padding: 0.5rem 1.5rem;
  margin-top: 6px;
}
.cartupciner .product-card-wrapper .price {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}
.cartupciner .card--horizontal .card__inner {
  width: 40%;
}
.drawericon_inner span:last-child {
  display: none;
}
.drawericon_inner.active span:last-child {
  display: inline-block;
}
.drawericon_inner.active span:first-child {
  display: none;
}
.drawer_tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background-color: rgb(var(--color-background));
  transition: var(--duration-medium) ease;
  /*   z-index: -2; */
  border-right: 1px solid rgba(var(--color-foreground), 0.1);
}
.drawer.active .drawer_tab.active {
  opacity: 1;
  visibility: visible;
  left: -350px;
}
.drawericon_sub {
  padding: 15px;
  overflow-y: auto;
  max-height: calc(100vh - var(--header-announce-height) - 10rem);
  scrollbar-width: unset;
}

.drawer .drawericon {
  right: unset;
}
.drawer.active .drawericon {
  position: absolute;
  top: 50px;
  right: 100%;
  transition: var(--duration-medium) ease;
}
.drawer.active .drawericon.active {
  right: calc(100% + 350px);
}
.drawericon .drawericon_inner {
  background-color: rgba(var(--color-background));
  min-width: 50px;
  min-height: 50px;
  margin: 8px 0;
  border-radius: calc(var(--content-radius) * 1 / 2) 0 0
    calc(var(--content-radius) * 1 / 2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.drawericon .drawericon_inner svg {
  width: 24px;
  height: 24px;
}

.drawericon .drawericon_inner span:first-child svg {
  fill: rgba(var(--color-foreground), 0.7);
}
.drawericon .drawericon_inner:hover span:first-child svg {
  fill: rgba(var(--color-foreground));
}

.drawericon .drawericon_inner span:first-child svg.note_stroke {
  fill: none;
}
.drawericon .drawericon_inner span:first-child svg.note_stroke path {
  stroke: rgba(var(--color-foreground), 0.7);
}
.drawericon .drawericon_inner:hover span:first-child svg.note_stroke path {
  stroke: rgba(var(--color-foreground));
}

.drawericon .drawericon_inner.active {
  background-color: rgba(var(--color-foreground));
}
.drawericon .drawericon_inner span:last-child svg {
  width: 18px;
  height: 18px;
  fill: none;
}
.drawericon .drawericon_inner span:last-child svg path {
  stroke: rgba(var(--color-background));
}

.mini_heading {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
  padding: 17px 15px;
  min-height: 60px;
  word-break: break-word;
  display: flex;
  gap: 10px;
  align-items: center;
}
.mini_heading svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.mini_heading svg {
  fill: rgba(var(--color-foreground));
}
.mini_heading svg.note_stroke {
  fill: none;
}
.mini_heading svg.note_stroke path {
  stroke: rgba(var(--color-foreground));
}
.drawer_tab cart-note + button {
  margin-top: 30px;
  width: 100%;
}

.custom_msg {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  word-break: break-word;
  margin-bottom: 5px;
}
.custom_msg span {
  font-size: calc(var(--font-body-scale) * 12px);
  border: 1px solid rgba(var(--color-foreground), 0.2);
  padding: 3px 8px;
  border-radius: calc(var(--content-radius) * 1 / 2);
  display: inline-block;
}
.drawer__inner {
  width: 480px;
  max-width: calc(100vw - 3rem);
  /*   padding: 0 1.5rem; */
  /*   overflow: hidden; */
  position: relative;
  border-left: 1px solid rgba(var(--color-foreground), 0.1);
  display: flex;
  flex-direction: column;
  /*   transition: transform var(--duration-default) ease; */
  border-radius: 0;
  height: 100%;
  overflow: hidden;
}
.drawer.active .drawer__inner {
  overflow: unset;
}

.drawer .cart-drawer {
  height: 0;
  opacity: 0;
  transition: var(--duration-medium) ease-in-out;
}
.drawer.active .cart-drawer {
  height: 100%;
  opacity: 1;
}
.drawericon_sub .dummy_bg {
  background: rgba(var(--color-foreground), 0.08);
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

cart-drawer .discounts:empty,
cart-drawer .product-option:empty,
cart-drawer dl:empty {
  display: none;
}
.drawer__inner-empty {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: unset;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.drawer__header {
  position: relative;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid rgba(var(--color-foreground), 0.08); */
  min-height: 60px;
  text-transform: uppercase;
}

.drawer__heading {
  margin: 0;
  font-size: calc(var(--font-heading-scale) * 24px);
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 1.5rem;
  width: 1.5rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  max-height: calc(100% - var(--header-announce-height));
  /* max-height: calc(100% - var(--header-announce-height) - 30px); */
  /* max-width: var(--page-width); */
  padding: 0 5rem;
  margin: 0 auto;
}
cart-drawer.drawer_full {
  max-width: unset;
}

/*.section-header ~ cart-drawer{
  max-width: unset;
}*/

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--color-foreground), 0.2);
}
.cart-drawer__overlay.blur {
  backdrop-filter: blur(3px);
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}
.cart-drawer__collection .card--media .card__inner .card__content {
  display: none;
}
.cart-drawer__collection .card__content {
  padding: 0;
}
.cart-drawer__collection .card__content .card__heading {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: var(--font-body-spacing);
  text-align: center;
  font-size: calc(var(--font-body-scale) * 16px);
}
.cart-drawer__collection .card--text .card__content .card__heading {
  background: rgba(var(--color-foreground), 0.05);
  padding: 15px;
}
.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  /* overflow: auto; */
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 24px;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  width: 11rem;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  /* height: 100%; */
  border: 1px solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading__spinner {
  right: auto;
  padding-top: 0;
}

.cart-drawer .cart-items td {
  padding-top: 0;
  width: 100%;
}

.cart-drawer .cart-item > td + td {
  padding-left: 0;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
  word-break: break-word;
}
.cart-drawer .cart-item__totals {
  margin-top: 6px;
}
/* .cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  grid-column: auto;
} */
.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

/* .cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
} */
.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
  background-color: #78d64b;
  color: black;
  border-color: #78d64b;
}
.cart-drawer .cart__checkout-button:hover {
  max-width: none;
  background-color: black;
  color: white;
  border-color: black;
}
.cart-drawer .cart__checkout-button::before {
  max-width: none;
  background-color: black;
  color: white;
}
.cart-drawer .cart__checkout-button::after {
  max-width: none;
  background-color: black;
  color: white;
}
.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}
.detail--padding {
  padding: 0 12px;
}
@media screen and (min-width: 768px) {
  .drawer__header {
    position: relative;
    padding: 3.6rem 2.6rem 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgba(var(--color-foreground), 0.08); */
    min-height: 60px;
    text-transform: uppercase;
  }
  @media screen and (min-width: 1024px) {
    .drawer__heading {
      margin: 0;
      font-size: calc(var(--font-heading-scale) * 36px);
    }
  }
  .detail--padding {
    padding: 0 26px;
  }
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(2)
    ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(4)
    ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}
cart-drawer-items {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 1.2rem;
  display: block;
  scrollbar-width: unset;
}
.drawer__inner-empty::-webkit-scrollbar,
cart-drawer-items::-webkit-scrollbar,
.cart_overflow::-webkit-scrollbar,
.drawericon_sub::-webkit-scrollbar,
.cart_overflow_inner::-webkit-scrollbar {
  width: 3px;
}

.drawer__inner-empty::-webkit-scrollbar-thumb,
cart-drawer-items::-webkit-scrollbar-thumb,
.cart_overflow::-webkit-scrollbar-thumb,
.drawericon_sub::-webkit-scrollbar-thumb,
.cart_overflow_inner::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.3);
  border-radius: 100px;
}

.drawer__inner-empty::-webkit-scrollbar-track-piece,
cart-drawer-items::-webkit-scrollbar-track-piece,
.cart_overflow::-webkit-scrollbar-track-piece,
.drawericon_sub::-webkit-scrollbar-track-piece,
.cart_overflow_inner::-webkit-scrollbar-track-piece {
  margin-top: 10px;
}
.cart_overflow,
.cart_overflow_inner {
  scrollbar-width: unset;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  top: 100%;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

.prices {
  display: flex;
}
.prices p {
  margin-bottom: 0;
}
.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 2.2rem;
  min-height: 2.2rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .drawer__close {
    display: inline-block;
    padding: 0;
    min-width: 4.4rem;
    min-height: 4.4rem;
    box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
    position: absolute;
    top: 26px;
    right: 26px;
    color: rgb(var(--color-foreground));
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 5px;
  }
  cart-drawer-items {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    padding-top: 2.4rem;
    display: block;
    scrollbar-width: unset;
  }
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
  }
  cart-drawer .totals__total-value {
    font-size: calc(var(--font-body-scale) * 20px);
  }
}

@media (max-width: 1199px) {
  cart-drawer {
    padding: 0 1.5rem;
  }
}
.drawer__inner,
.drawer_tab {
  border-radius: var(--popup-radius);
}
@media (min-width: 768px) and (max-width: 991px) {
  .drawer.active .drawericon.active,
  .drawer.active .drawericon {
    right: calc(100% + 1px);
  }
  .drawer__inner {
    width: 42rem;
    max-width: calc(100vw - 6rem);
  }
  .drawer_tab {
    z-index: 2;
    width: 42rem;
    max-width: calc(100vw - 6rem);
    left: auto;
    right: -42rem;
  }
  .drawer.active .drawer_tab.active {
    left: auto;
    right: 0;
  }
}
@media (max-width: 767px) {
  .cart-drawer .cart-item:last-child {
    margin-bottom: 0;
  }
  .drawer.active .drawericon.active,
  .drawer.active .drawericon {
    right: calc(100% + 1px);
  }
  .drawer_tab {
    z-index: 2;
    width: 32rem;
    max-width: calc(100vw - 6rem);
    left: auto;
    right: -32rem;
  }
  .drawer.active .drawer_tab.active {
    left: auto;
    right: 0;
  }
  .drawer__inner {
    width: 32rem;
    max-width: calc(100vw - 6rem);
  }
  .drawericon .drawericon_inner {
    min-width: 38px;
    min-height: 38px;
  }
  .drawericon .drawericon_inner svg {
    width: 20px;
    height: 20px;
  }
  .drawericon .drawericon_inner span::before,
  .drawericon .drawericon_inner span::after {
    display: none;
  }
  .cart-drawer .cart-item__media {
    width: 7rem;
  }
  cart-drawer .totals > * + * {
    margin-left: 1rem;
  }
  cart-drawer td.cart-item__totals {
    grid-column: 1 / 3;
  }
  cart-drawer td.cart-item__quantity {
    grid-column: unset;
  }
  .cart-drawer .totals {
    padding-bottom: 15px;
    margin-top: 0;
  }
}
.button__cart:disabled {
  background: var(--color-disabled-button);
  opacity: 0.7;
  color: var(--color-disabled-button-text);
}

cart-drawer-items.is-empty {
  display: none;
}
.cart-drawer .tax-note {
  margin: 5px 0 5px auto;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}
.cart-image {
  object-fit: cover;
  display: flex;
  margin-top: 24px;
  height: fit-content;
  /* max-height: 150px; */
  width: 100%;
  border-radius: 12px;
}

.cart-drawer .totals {
  border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
  padding-bottom: 20px;
  /* padding-top: 20px; */
  align-items: flex-end;
  margin-top: 0;
}
.drawer__footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding: 12px;
  padding-bottom: 24px;
  padding-top: 20px;
  background: #fafafa;
  border-bottom-right-radius: var(--popup-radius);
  border-bottom-left-radius: var(--popup-radius);
}
.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2rem;
  font-weight: 600;
  color: rgba(var(--color-foreground));
}
@media (min-height: 900px) {
  .cart-drawer .totals {
    padding-top: 0;
  }
  .cart-image {
    border-radius: 12px;
    margin-top: 28px;
    height: 222px;
    max-height: unset;
    width: 100%;
    display: block;
  }
}
@media (min-width: 1024px) and (min-height: 900px) {
  .drawer__footer {
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
    padding: 20px 26px;
    padding-bottom: 24px;
  }
}

@media (min-height: 900px) {
  .drawer.active .cart-drawer {
    /* height: 763px; */
    opacity: 1;
  }
}
@media (min-width: 1440px) or (min-height: 900px) {
  .cart-drawer .tax-note {
    margin: 20px 0 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
  }
  .cart-drawer .totals {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.1);
    /* padding-bottom: 20px; */
    align-items: center;
    margin-top: 0;
  }

  .cart-drawer__warnings--has-collection .cart__login-title {
    margin-top: 2.5rem;
    font-weight: 600;
    color: rgba(var(--color-foreground));
  }
  .drawer__header {
    position: relative;
    padding: 3.6rem 2.6rem 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgba(var(--color-foreground), 0.08); */
    min-height: 60px;
    text-transform: uppercase;
  }
  .drawer__heading {
    margin: 0;
    font-size: calc(var(--font-heading-scale) * 36px);
    font-weight: 600;
  }
}
.cart-item__details * {
  line-height: 1;
}
@media (min-height: 900px) or (min-width: 768px) {
  .cart-drawer .tax-note {
    margin: 20px 0 auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
  }
}
.product-option.custom-top {
  margin-top: 0.5rem;
}
