.contact_sub {
  margin-bottom: 0;
}
.section_map .grid {
  justify-content: center;
}
.only_map .dummymap {
  height: 100%;
  background: rgba(var(--color-foreground), 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
.only_map .dummymap svg {
  width: 200px;
  height: 200px;
  opacity: 0.1;
}
.only_map iframe {
  max-width: 100%;
  width: 100%;
  background: rgba(var(--color-foreground), 0.05);
}
.section_map_content:empty {
  display: none;
}
.section_map_content .maphead {
  margin-top: 0;
  margin-bottom: 15px;
}
.section_map_content .maphead.h0 {
  font-size: calc(var(--font-heading-scale) * 28px);
}
.section_map_content .maphead.h1 {
  font-size: calc(var(--font-heading-scale) * 24px);
}
.section_map_content .maphead.h2 {
  font-size: calc(var(--font-heading-scale) * 22px);
}
.section_map_content .maphead_inner {
  font-size: calc(var(--font-heading-scale) * 18px);
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 600;
}
.map_details { 
  font-size: calc(var(--font-body-scale) * 18px);
}
.contactemail {
  display: flex;
  gap: 15px;
}
.section_map_content.center .contactemail {
  justify-content: center;
}
.section_map_content.right .contactemail {
  justify-content: end;
}
.map_email {
  border-left: 1px solid rgba(var(--color-foreground),.1);
  padding-left: 15px;
}

.section_map_content .mapbtn {
  margin-top: 20px;
}
.section_map_content {
  display: grid;
  word-break: break-word;
  row-gap: 30px;
  word-break: break-word;
}
@media (max-width: 991px) {
  .section_map_content .maphead_inner {
    font-size: calc(var(--font-heading-scale) * 16px);
  }
  .map_details {
    font-size: calc(var(--font-body-scale) * 14px);
  }
}
@media (min-width: 768px) {
  .section_map .image-with-text__grid--reverse {
    flex-direction: row-reverse;
  }
  .section_map .only_map.grid__item {
    width: calc(64% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(64% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .section_map .section_map_content.grid__item {
    width: calc(36% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: calc(36% - var(--grid-desktop-horizontal-spacing) / 2);
  }
  .section_map .grid {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .section_map .grid .grid__item {
    width: 100%;
    max-width: 100%;
  }
  .section_map_content {
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
  .section_map_content:has(> div:only-child) {
    grid-template-columns: 1fr;
  }
  .contactemail {
    display: grid;
  }
  .map_email {
    border-left: none;
    padding-left: 0;
  }
  .section_map_content .mapbtn {
    margin-top: 10px;
  }
}